<div class="ui grid">
  <div class="four wide column">
    <div class="ui green segment compact">
      <p>Total Amount Invested: <span>$1000</span</p>
      <p>Current Worth: <span>$997.32</span</p>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui segment">
      <p>Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor.</p>
    </div>
  </div>
</div>
<div class="ui one column grid">
  <div class="column">
    <div class="ui divider"></div>
    <div class="ui two column grid">
      <div class="column">
        <h3 class="header">My Portfolios</h3>
      </div>
      <div class="column right aligned">
        <button class="ui green button">Create Portfolio</button>
      </div>
    </div>
    <div class="ui middle aligned selection list">
      <div class="item">
        <div class="content">
          <div class="header">Tech</div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Healthcare</div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Energies</div>
        </div>
      </div>
    </div>
  </div>
</div>