<div class="ui sizer vertical segment">
  <div class="ui medium header">Profile</div>
</div><br>

<div class="ui grid">
  <div class="five wide column">
    <div class="ui medium image">
      <img src="image.png">
    </div>
  </div>
</div>
  
<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">Sandworm User</div>
      <div class="description">
        I love stocks!
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      Follow
    </div>
  </div>
</div>
  
<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Portfolios
</h4>
<table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">Tech Portfolio</td>
      <td>GOOG, APPL, FB</td>
    </tr>
    <tr>
      <td>Other Portfolio</td>
      <td>STK1, STK2, STK3</td>
    </tr>
    <tr>
      <td>Portfolio 3</td>
      <td>STK1, STK2, STK3</td>
    </tr>
  </tbody>
</table>

<!-- Name --> 
