<h2 class="ui dividing header"><%= title %><a class="anchor" id="columns"></a></h2>

<div class="ui grid">
  <div class="four wide column">
    <div class="ui green segment compact">
      <p>Total Amount Invested: <span>$1000</span</p>
      <p>Current Worth: <span>$997.32</span</p>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui segment" id="graph">
      
    </div>
  </div>
</div>
  
<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Portfolios
</h4>
<table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">Tech Portfolio</td>
      <td>GOOG, APPL, FB</td>
    </tr>
    <tr>
      <td>Other Portfolio</td>
      <td>STK1, STK2, STK3</td>
    </tr>
    <tr>
      <td>Portfolio 3</td>
      <td>STK1, STK2, STK3</td>
    </tr>
  </tbody>
</table>

<!-- Name --> 
